@font-face {
  font-family: poppins-med;
  src: url('../assets/font/poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: poppins-reg;
  src: url('../assets/font/poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: poppins-light;
  src: url('../assets/font/poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: poppins-eb;
  src: url('../assets/font/poppins/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: poppins-b;
  src: url('../assets/font/poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: poppins-sb;
  src: url('../assets/font/poppins/Poppins-SemiBold.ttf');
}
body {
  justify-content: center;
}
/*
@media(max-width:1920px) {
  body {
    background-image:url('../img/bg1920.jpg');
  }
}

@media(max-width:1280px) {
  body {
    background-image:url('../img/bg1280.jpg');
  }
}
*/
#root {
  color: #222222;
  height: 150%;
  font-family: poppins-reg;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 5%;
  line-height: 5%;
  display: flex;
  align-items: center;
}
.navsearch {
  float: none;
  width: 50%;
}
ul#navbar li {
  float: right;
  display: inline-block;
  color: #222222;
  padding: 40px;
  text-decoration: none;
}
ul#navbar li a {
  text-decoration: none;
  color: #222222;
}
ul#navbar li a:hover {
  text-decoration: none;
  color: #222222;
}
.web_content {
  padding-top: 2%;
  padding-right: 15%;
  padding-left: 15%;
}
.reg_link,
.reg_link:hover {
  color: #bc8da7;
}
#footer {
  position: fixed;
  height: 5%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 20px;
}
.scrollable-dropdown {
  height: auto;
  max-height: 320px;
  overflow-x: hidden;
}
.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.wb {
  border-color: #bc8da7;
  color: #ffffff;
  background-color: #bc8da7;
  border: 1px solid #bc8da7;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}
.wb:hover,
.wb:active,
.wb:focus {
  outline: none !important;
  outline-offset: none !important;
  background-color: #222222;
  border-color: #ffffff;
  color: #ffffff;
  transition-duration: 2s;
}
.navbar_full {
  background-color: #ffffff;
  color: #bc8da7;
}
form {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.nav_search.form-control:focus,
textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  outline: none !important;
  border-color: #bc8da7;
  background-color: #ffffff;
  color: #222222;
  box-shadow: 0 0 10px #bc8da7;
}
.nav_search {
  width: 80% !important;
}
.link,
.link:hover,
a,
a:hover {
  color: #222222;
}
.btn:active,
.btn:focus {
  outline: none !important;
  outline-offset: none !important;
  background-color: #ffffff;
  border-color: #bc8da7;
  color: #bc8da7;
}
input[type="text"]:focus {
  border: 1px solid #bc8da7 !important;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
  outline: none !important;
}
.form-inline {
  width: 100% !important;
}
