@font-face {
  font-family: poppins-med;
  src: url('/assets/font/poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: poppins-reg;
  src: url('/assets/font/poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: poppins-light;
  src: url('/assets/font/poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: poppins-eb;
  src: url('/assets/font/poppins/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: poppins-b;
  src: url('/assets/font/poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: poppins-sb;
  src: url('/assets/font/poppins/Poppins-SemiBold.ttf');
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  justify-content: center;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
#root {
  color: #222222;
  height: 150%;
  font-family: poppins-reg;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 5%;
  line-height: 5%;
  display: flex;
  align-items: center;
}
.navsearch {
  float: none;
  width: 50%;
}
ul#navbar li {
  float: right;
  display: inline-block;
  color: #222222;
  padding: 40px;
  text-decoration: none;
}
ul#navbar li a {
  text-decoration: none;
  color: #222222;
}
ul#navbar li a:hover {
  text-decoration: none;
  color: #222222;
}
.web_content {
  padding-top: 2%;
  padding-right: 15%;
  padding-left: 15%;
}
.reg_link,
.reg_link:hover {
  color: #bc8da7;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.scrollable-dropdown {
  height: auto;
  max-height: 320px;
  overflow-x: hidden;
}
.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.wb {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #bc8da7;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #222222;
}
.page-link:hover,
.page-link:active,
.page-link:focus,
.wb:hover,
.wb:active,
.wb:focus {
  outline: none !important;
  outline-offset: none !important;
  border-color: #bc8da7;
  color: #222222;
  background-color: #bc8da7;
  transition-duration: 2s;
}
.navbar_full {
  background-color: #ffffff;
  color: #bc8da7;
}
form {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.nav_search.form-control:focus,
textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  outline: none !important;
  border-color: #bc8da7;
  background-color: #ffffff;
  color: #222222;
  box-shadow: 0 0 10px #bc8da7;
}
.nav_search {
  width: 80% !important;
}
.link,
.link:hover,
a,
a:hover {
  font-size: 20px;
  color: #222222;
}
.btn:active,
.btn:focus {
  outline: none !important;
  outline-offset: none !important;
  background-color: #ffffff;
  border-color: #bc8da7;
  color: #bc8da7;
}
input[type="text"]:focus {
  border: 1px solid #bc8da7 !important;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
  outline: none !important;
}
.form-inline {
  width: 75% !important;
}
.dropdown-toggle::after {
  border: none;
}
.dropdown-menu.show {
  margin-left: 10%;
}
.show.dropdown.nav-item,
.dropdown.nav-item {
  text-align: right;
  width: 20%;
}
.basic-nav-dropdown {
  margin-left: 25%;
}
.dropdown-item {
  font-size: 20px;
}
.title-dropdown {
  font-size: 20px;
}
.mr-sm-2.nav_search.form-control {
  height: 50px;
}
.navbar-toggler-icon {
  background-image: url(/assets/icons/Hamburger.png) !important;
}
.active-page {
  background-color: #bc8da7;
}
.page-link {
  background-color: #bc8da7 !important;
  color: #222222 !important;
}
.pagination {
  padding-top: 10%;
}
