@om: #bc8da7; // opera mauve
@nero: #222222; // nero
@bg: #ffffff; // white

@font-face { font-family: poppins-med; src: url('/assets/font/poppins/Poppins-Medium.ttf'); }
@font-face { font-family: poppins-reg; src: url('/assets/font/poppins/Poppins-Regular.ttf'); }
@font-face { font-family: poppins-light; src: url('/assets/font/poppins/Poppins-Light.ttf'); }
@font-face { font-family: poppins-eb; src: url('/assets/font/poppins/Poppins-ExtraBold.ttf'); }
@font-face { font-family: poppins-b; src: url('/assets/font/poppins/Poppins-Bold.ttf'); }
@font-face { font-family: poppins-sb; src: url('/assets/font/poppins/Poppins-SemiBold.ttf'); }

body {
    justify-content: center;
    // background-image:url(./assets/img/bg4k.jpg);
    // background-size:100%;
}

/*
@media(max-width:1920px) {
  body {
    background-image:url('../img/bg1920.jpg');
  }
}

@media(max-width:1280px) {
  body {
    background-image:url('../img/bg1280.jpg');
  }
}
*/

#root {
    color: @nero;
    height: 150%;
    font-family: poppins-reg;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 5%;
    line-height: 5%;
    display: flex;
    align-items:center;
}

.navsearch {
    float:none;
    width: 50%;
}

ul#navbar li {
    float:right;
    display: inline-block;
    color: @nero;
    padding: 40px;
    text-decoration: none;
}

ul#navbar li a {
    text-decoration: none;
    color: @nero;
}

ul#navbar li a:hover {
    text-decoration: none;
    color: @nero;
}

.web_content {
  padding-top:2%;
  padding-right:15%;
  padding-left:15%;
}

.reg_link, .reg_link:hover {
    color:@om;
}

#footer{
 position:fixed;
 bottom:0;
 left:0;
 text-align:left;
 padding:20%;
}

.scrollable-dropdown{
    height: auto;
    max-height:320px;
    overflow-x: hidden;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.wb {
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
  text-decoration:none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius:3px;
  border: 1px solid @om;
  background-color: @bg;
  border-color:@bg;
  color: @nero;
}

.wb:hover, .wb:active, .wb:focus {
  outline: none !important;
  outline-offset: none !important;
  border-color:@om;
  color: @nero;
  background-color: @om;
  transition-duration:2s;
}

.navbar_full {
  background-color:@bg;
  color:@om;
}

form{
 margin:0px; padding:0px; display:inline;
}

.nav_search.form-control:focus, textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    outline: none !important;
    border-color: @om;
    background-color:@bg;
    color: @nero;
    box-shadow: 0 0 10px @om;
}

.nav_search {
  width:80% !important;
}

.link, .link:hover, a, a:hover {
  font-size:20px;
  color: @nero;
}

.btn:active, .btn:focus {
    outline: none !important;
    outline-offset: none !important;
    background-color:@bg;
    border-color:@om;
    color:@om;
}

input[type="text"]:focus {
    border:1px solid @om !important;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
    outline: none !important;
}

.form-inline {
  width:75% !important;
}

.dropdown-toggle::after {
  border: none;
}

.dropdown-menu.show {
  margin-left:10%;
}

.show.dropdown.nav-item, .dropdown.nav-item {
  text-align:right;
  width:20%;
}

.basic-nav-dropdown {
  margin-left:25%;
}

.dropdown-item {
  font-size:20px;
}

.title-dropdown {
  font-size:20px;
}

.mr-sm-2.nav_search.form-control {
  height:50px;
}
